<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-full bg-zinc-900 p-10 text-white">
        <a href="/" class="text-blue-500">Back to home</a>
        <h1 class="text-3xl tracking-tighter mt-5 mb-3">All Users</h1>
        <div class="users text-white w-full flex gap-10 flex-wrap">

            <% if(users.length >0){ %>
                <% users.forEach(function(user){ %>
                    <div class="user w-72 p-5 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-zinc-400 rounded-lg overflow-hidden">
                            <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">
                        </div>
                        <h3 class="text-xl mt-3 tracking-tighter"><%= user.name %></h3> 
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="mt-6">
                            <a href="/edit/<%= user._id %>" class="text-blue-500">edit user</a>
                            <a href="/delete/<%= user._id %>" class="text-red-500">delete user</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h3 class="text-zinc-500 p-10">No users yet !</h3>
            <% } %>

        </div>
    </div>
</body>
</html>